### local template
git_repos/
logs/
reports/

### Python template
__pycache__/
*.pyc
.pytest_cache/
.python-version
venv/
.idea/
.vscode/

### platform template
.DS_Store

### plugin
debugtalk.bin
debugtalk.so


**/result/